<html>
  <head>
    <title>
      欲望
    </title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="yokubou.js"></script>
  </head>
  <body>
    <h1>欲望</h1>
    <ul id="main-list">
    </ul>
  </body>
</html>
